@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inter:wght@100;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@600&display=swap');





* {

    text-align: center;

    font-family: 'Sono', sans-serif;

    background-color: 

}

.grid-container {
    border: black 1px solid;
    border-radius: 20px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 400px 400px 400px 400px;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
}

.grid-container>.item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.btn {
    background-color: rgb(176, 126, 218);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border: rgb(234, 191, 243) 1px solid;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}




.comprar {
    background-color: purple;
    text-decoration: none;
    border: black 1px solid;
    border-radius: 10px 1px 1px 1px;
    border-radius: 10px;
    color: #fff;
    padding: 3px 10px;
}




:hover.comprar {

    transform: scale(1);
    background-color: pink;
    border-radius: 10px 10px 10px 10px;

}